*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    font-family: 'Open Sans', sans-serif;
}

/**********
Debug Rules
classe debug inserita nel body
***********/
/* .debug .main-header{
    background-color: #ADD8E6;
    padding: 10px;
} */

/* .debug .container{
    border: 3px dashed black;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
} */

/* .debug .container-small{
    border: 3px dashed black;
    padding: 20px;
    margin: 0 auto;
    max-width: 700px;
} */

.debug .hero{
    background-color: #00008B;
    padding: 10px;
}

/* .debug .col{
    background-color: #DAA520;
    padding: 5px;
} */

.debug .row{
    border: 2px solid black;
    padding: 15px;
}

/* .debug .row-hero{
    background-color: #EE82EE;
    min-height: 300px;
} */

.debug .main-footer, .small-footer{
    background-color: #23272A;
}

.debug .col-20{
    border: 1px dashed black;
}


.debug .col-60{
    background-color: #1E90FF;
    border: 1px dashed black;
    min-height: 300px;
}

.debug .col-40{
    background-color: rgb(252, 187, 198);
    border: 1px dashed black;
    min-height: 300px;
}
.debug .col25{
    background-color: #F08080;
    min-height: 450px;
    border: 2px dotted black;
}
.debug .col15{
    background-color: #20B2AA;
    min-height: 450px;
    border: 2px dotted white;
}
.debug .row-footer{
    background-color: #7FFFD4;
}

/**********
End Debug Rules
***********/

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-rev{
    flex-direction: row-reverse;
}

nav > span{
    color: white;
    padding: 0 20px;
    font-size: 16px;
}

.col-grow{
    flex-grow: 1;
}

.col-dx{
    text-align: right;
    width: 124px;
}

.col-center{
    display: flex;
    justify-content: center;
}

.button{
    padding: 8px 12px;
    background-color: #7289DA;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}

.button-white{
    color: black;
    background-color: white;
}

.button-black{
    color: white;
    background-color: #23272A;
}

.main-header{
    background-color: #255ee9;
}

.p-20{
    padding: 20px 0;
}

.p-100{
    padding: 100px 0;
}

.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.container-small{
    margin: 0 auto;
    max-width: 900px;
}

.row-hero{
    height: 600px;
    padding: 220px 0px;
}

.text-center{
    text-align: center;
}

.col-100{
    flex-basis: 100%;
}

.title{
    color: black;
    font-size: 44px;
    margin-bottom: 20px;
}

p{
    font-size: 22px;
}

.row p{
    color: black;
    font-size: 18px;
}

.row-hero .title, p{
    color: white;
}

.row-hero .button{
    font-size: 22px;
    padding: 12px 30px;
}

.row-hero p{
    padding-top: 10px;
    padding-bottom: 30px;
}

.col-100:first-child .button-white{
    margin-right: 10px;
}

.col-100:first-child .button-black{
    margin-left: 10px;
}

.col-60{
    flex-basis: 60%;
}

.col-40{
    flex-basis: 40%;
    padding: 0px 40px;
}

.grey{
    background-color: #D3D3D3;
   }

.col25{
    flex-basis: calc( (100%/6) *2 );
    order: -1;
}



.col15{
    flex-basis: calc( (100%/6));
}



.row-footer{
    justify-content: space-between;
}



.row-footer .col{
    background-color: #F08080;
}